#!/bin/bash
# copyright (c) 2015 fclaerhout.fr, released under the MIT license.

DAEMON=/usr/bin/aptly
_UID=aptly

status() {
	if pgrep -u ${_UID} ${DAEMON}
	then
		echo "service is running"
	else
		echo "service is NOT running"
	fi
}

start() {
	sudo -u ${_UID} ${DAEMON} serve -listen={{ syskit_aptly_dl_address }}:{{ syskit_aptly_dl_port }} &
	sudo -u ${_UID} ${DAEMON} api serve -listen={{ syskit_aptly_api_address }}:{{ syskit_aptly_api_port }} &
}

stop() {
	killall -u ${_UID} ${DAEMON}
}

for arg
do
	case $arg in
		status)
			status;;
		start)
			start;;
		stop)
			stop;;
		*)
			echo "Poorman aptly service manager"
			echo
			echo "Usage:"
			echo "  $0 (status|start|stop)..."
			exit 1
	esac
done

