#!/bin/bash
# copyright (c) 2015 fclaerhout.fr, released under the MIT license.

DAEMON=/usr/local/bin/pypi-server
_UID=pypiserver

status() {
	if pgrep -u ${_UID} ${DAEMON}
	then
		echo "service is running"
	else
		echo "service is NOT running"
	fi
}

start() {
	sudo -u ${_UID} ${DAEMON} --interface {{ relkit_pypiserver_http_address }} --port {{ relkit_pypiserver_http_port }} --passwords /etc/pypiserver/htaccess {{ '--overwrite' if relkit_pypiserver_allow_overwrite else '' }} {{ '--disable-fallback' if relkit_pypiserver_disable_fallback else '' }} /var/cache/pypiserver
}

stop() {
	killall -u ${_UID} ${DAEMON}
}

for arg
do
	case $arg in
		status)
			status;;
		start)
			start;;
		stop)
			stop;;
		*)
			echo "Poorman PyPI server service manager"
			echo
			echo "Usage:"
			echo "  $0 (status|start|stop)..."
			exit 1
	esac
done
